<% var stylesheet = "login" %>
<% var title = "Iniciar sesión" %>
<% var js = "login" %>
<% include ../header %>

  <nav class="nav">
    <div class="blank">

    </div>
    <div class="titulo-pronuntia">
      <h1>Pronuntia</h1>
    </div>
    <div class="ini">
      <a href="/registro">¿Aún no tienes cuenta? Regístrate</a>
    </div>
  </nav>

  <% include form_login %>
  
  <% include errores %>


<% include ../footer %>
