<div class="col-sm-12 opciones-cont">
  <div class="col-xs-4 vistas">
    <h1>Vista</h1>
    <a href=""><i class="fa fa-align-justify fa-fw"></i> Modo lista</a>
    <a class="active" href=""><i class="fa fa-th-large fa-fw"></i> Modo cuadricula</a>
  </div>
</div>