<% var stylesheet = "profile" %>
<% var title = "Perfil" %>
<% var js = ["profile"] %>
<% include ../header %>

  <!-- menu de notificaciones que aparece de izquierda a derecha -->
  <article id="menuM" class="notifiaciones">
    <!-- titulo del menu de notificaciones -->
    <div class="col-sm-12 titulo"><h1>Notificaciones</h1></div>
    <!-- contenedor con todas las notificaciones -->
    <div class="col-sm-12 contenedor">
      <!-- cada una de las notificaciones -->
      <div class="col-sm-12 notificacion">

      </div>
    </div>
  </article>

  <!-- parte principal de la web que contiene las 3 columnas y el navegador -->
  <main id="panel" class="container-fluid principal">
    <!-- menu navegador de la pagina web -->
    <% include ../nav %>
    
    <% include info_user %>

    <% include audios_cont %>

  </main>

<% include ../footer %>

