<% var stylesheet = "profile" %>
<% var title = "Perfil" %>
<% var js = ["profile"] %>
<% include ../header %>

  <% include ../nav %>

  <% include opciones %>
  <!-- parte principal de la web que contiene las 3 columnas y el navegador -->
  <main id="panel" class="container-fluid principal listas">
    <!-- menu navegador de la pagina web -->  
    <% include info_user %>

    <% include audios_cont %>

  </main>

<% include ../footer %>

