  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="js/parse-latest.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <% js.forEach( function (script) { %>
  <script type="text/javascript" src="js/<%= script %>.js"></script>
  <% }) %>
</body>
</html>
