<ul class="menu-lat">
  <li>
    <a class="menu-a" href=""><i class="fa fa-plus fa-fw"></i></a>
    <span class="onh">Nueva pronunciación</span>
  </li>
  <li>
    <a class="menu-a" href=""><i class="fa fa-question fa-fw"></i></a>
    <div class="menu-show onh">
      <h1>Peticiones</h1>
      <div class="divider-ul"></div>
      <ul class="menu-ul">
        <li><a href=""></a></li>
      </ul>
    </div>
  </li>
  <li>
    <a class="menu-a" href=""><i class="fa fa-bell-o fa-fw"></i></a>
    <div class="menu-show onh">
      <h1>Notificaciones</h1>
      <div class="divider-ul"></div>
      <ul class="menu-ul">
        <li><a href=""></a></li>
      </ul>
    </div>
  </li>
</ul>
