<nav class="menu-top">
  <section class="notification-boton-cont">
    <a id="menu-bottom" href="#"><i class="fa fa-user"></i>
    <span class="badge-noti">0</span></a>
  </section>

  <section class="titulo-pronuntia">
    <h1>Pronuntia</h1>
  </section>

  <ul class="botones-menu pull-right">
    
  </ul>
</nav>