<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro</title>

  <!-- BOOSTRAP -->
  <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
  <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="css/registro.css">
</head>
<body>
  <nav class="nav">
    <div class="blank">

    </div>
    <div class="titulo-pronuntia">
      <h1>Pronuntia</h1>
    </div>
    <div class="ini">
      <a href="">Ya tengo cuenta, iniciar sesión</a>
    </div>
  </nav>

  <section class="col-sm-4 col-sm-offset-4 registro-cont">
    <div class="row">
      <div class="col-sm-12 formulario">
        <div class="col-sm-12 title">
         <h1>Regístrate</h1>
        </div>
        <form class="col-sm-12 form">
          <div class="form-group">
            <label class="sr-only" for="usuario-p"></label>
            <input type="text" class="form-control" id="usuario-p" placeholder="Usuario">
            <div data-for="" class="dot"></div>
            <div data-for="" class="error"></div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="c1"></label>
            <input type="password" class="form-control" id="c1" placeholder="Contraseña">
            <div data-for="" class="dot"></div>
            <div data-for="" class="error"></div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="c2"></label>
            <input type="password" class="form-control" id="c2" placeholder="Repetir contraseña">
            <div data-for="" class="dot"></div>
            <div data-for="" class="error"></div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="mail"></label>
            <input type="email" class="form-control" id="mail" placeholder="E-mail">
            <div class="dot"></div>
            <div class="error"></div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="sexo"></label>
            <input type="text" class="form-control" id="sexo" placeholder="Sexo">
            <div data-for="" class="dot"></div>
            <div data-for="" class="error"></div>
          </div>
          <div class="form-group">
            <label class="sr-only" for=""></label>
            <input type="" class="form-control" id="" placeholder="Lengua materna">
            <div data-for="" class="dot"></div>
            <div data-for="" class="error"></div>
          </div>
          <ul class="banderas">
            <li><a href=""><img src="img/es.png"></a></li>
            <li><a href=""><img src="img/it.png"></a></li>
            <li><a href=""><img src="img/fr.png"></a></li>
            <li><a href=""><img src="img/es.png"></a></li>
          </ul>
          <div class="form-group">
            <label class="sr-only" for="provincia"></label>
            <input type="text" class="form-control" id="provincia" placeholder="Provincia">
            <div data-for="" class="dot"></div>
            <div data-for="" class="error"></div>
          </div>
        </form>
        <div class="col-sm-12 condiciones">
          <p>Al registarte, estás aceptando las <a href="">Condiciones de Servicio</a> y la <a href="">Politica de Privacidad</a> de Pronuntia</p>
        </div>
        <button type="submit" class="btn btn-default btn-block btn-sub">Registrarte</button>
      </div>
    </div>
  </section>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/registro.js"></script>
</body>
</html>
