.principal {
  padding: 80px 0px 20px 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  background: #e9e9e9;
}

.opciones-cont {
  background: #fff;
  margin-top: 70px;
  margin-bottom: 20px;
  display: none;
  border-bottom: 1px solid #cecece;
  padding: 15px 70px;
}

.opciones-cont h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #383838;
  margin-bottom: 5px;
}

.opciones-cont .vistas {
  
}

.opciones-cont .vistas a {
  display: block;
  color: #8d8d8d;
  padding-left: 7px;
}

.opciones-cont .vistas a.active {
  color: #00a8f0;
}

.profile-info-cont {
  padding: 0;
}

.profile-info {
  background: #fff;
  padding: 0 0 10px 0;
  /*border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #cecece;*/
}

.profile-info .profile-foto {
  padding-top: 20px;
}

.profile-info .profile-foto img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 200px;
  border: 6px solid #ddedfc;
}

.profile-info .profile-foto a {
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 7px;
}

.profile-info .profile-foto .sig {
  color: #00ee4a;
  border-color: #00ee4a;
}

.profile-info .profile-foto .seg {
  color: #00a8f0;
  border-color: #00a8f0;
}

.profile-info .profile-foto .seg:hover {
  background: #00a8f0;
  color: white;
}

.profile-info .profile-foto .unfollow {
  color: #ff4444;
  border-color: #ff4444;
}

.profile-info .profile-foto .sig:hover {

}

.profile-info .profile-name {
  padding: 0;
  padding-top: 40px;
}

.profile-info .profile-name h1 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: #00a8f0;
  font-weight: 100;
  margin-bottom: 5px;
}

.profile-info .profile-name h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #bababa;
  font-weight: 100;
  margin-bottom: 5px;
}

.profile-info .profile-name img {
  padding: 0;
  margin: 5px 0;
  width: 25px;
  display: block;
}

.profile-info .profile-tools {
  position: relative;
  margin-top: 25px;
}

.profile-info .profile-tools .rue {
  position: absolute;
  color: #a8a8a8;
  font-size: 20px;
  right: 7px;
  bottom: -13px;
}

.profile-description {
  /*border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #cecece;*/
  border-top: none;
  background: #fff;
  color: #959595;
  font-weight: 200;
  padding: 20px 15px;
}

.profile-description article {
  padding-left: 35px;
}

.profile-description article:before {
  font-family: FontAwesome;
  position: absolute;
  left: 30px;
  font-size: 16px;
  color: #575757;
  text-align: center;
}

.profile-description .localizacion:before {
  content: '\f041';
}

.profile-description .descripcion:before {
  content: '\f129';
}

.profile-description .web {
  color: #00a8f0;
}

.profile-description .web:before {
  content: '\f0c1';
}

.profile-follows {
  margin-top: 15px;
  padding: 0;
}

.profile-follows .follows {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px 15px;
  min-height: 100px;
}

h1.tit {
  color: #b2b2b2;
  margin: 0;
  font-size: 15px;
  padding: 0;
}

a.num {
  color: #00a8f0;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 15px;
}

.bar-sep {
  height: 1px;
  width: 80%;
  background: #cecece;
  margin-left: 10%;
  margin-top: 17px;
  margin-bottom: 10px;
}

.seg-menu {
  padding: 0;
  list-style: none;
  display: block;
}

.seg-menu .seg-cont {
  padding: 0;
  margin-bottom: 7px;
  display: block;
}

.seg-menu .seg-cont .seg-a {
  display: block;
  padding: 5px;
}

.seg-menu .seg-cont .seg-a .seg-fot {
  padding: 0;
}

.seg-menu .seg-cont .seg-a .seg-fot img {
  height: 70px;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200px;
  border: 6px solid #ddedfc;
}

.seg-menu .seg-cont .seg-a .seg-n p.name {
  color: #00a8f0;
  margin: 0;
}

.seg-menu .seg-cont .seg-a .seg-n p.lugar {
  margin: 0;
  font-size: 12px;
  color: #a8a8a8;
}

.seg-menu .seg-cont .seg-a .seg-n img {
  height: 17px;
}


/* Pronuntias Cont */
.pronuntias-cont {
  padding-left: 0;
}

.cuad .pronuntias-cont .p-cont {
  padding: 0 5px;
  margin-bottom: 5px;
}

.cuad .pronuntias-cont .p-cont .header-pronuntia {
  height: 30px;
  border-bottom: 1px solid #cecece;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fff;
  border: 1px solid #cecece;
}

.cuad .pronuntias-cont .p-cont .rest {
  background: #fff;
  border-right: 1px solid #cecece;
  border-left: 1px solid #cecece;
}

.cuad .pronuntias-cont .p-cont .play {
  padding: 0;
  text-align: center;
}

.cuad .pronuntias-cont .p-cont .play a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-bottom: 40px;
}

.cuad .pronuntias-cont .p-cont .play a img {
  width: 50px;
  vertical-align: middle;
}

.cuad .pronuntias-cont .p-cont .pronuntia-principal .nombre {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cuad .pronuntias-cont .p-cont .pronuntia-principal .nombre > a {
  color: #00a8f0;
  font-weight: bold;
  text-align: left;
}

.cuad .pronuntias-cont .p-cont .pronuntia-principal .fecha {
  position: relative;
}

.cuad .pronuntias-cont .p-cont .pronuntia-principal .fecha h3 {
  margin: 0;
  padding: 0;
  color: #b4b4b4;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 1px;
  top: -17px;
}

.cuad .pronuntias-cont .p-cont .pronuntia-principal .fecha img {
  position: absolute;
  left: 1px;
  top: -20px;
  height: 15px;
}

.cuad .pronuntias-cont .p-cont .bottom {
  padding: 12px 5px;
  background: #fff;
  border: 1px solid #cecece;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
}

.cuad .pronuntias-cont .p-cont .bottom a {
  font-size: 12px;
  line-height: 20px;
  color: #b3b3b3;
  display: inline-block;
  margin-right: 5px;
}

.cuad .pronuntias-cont .p-cont .bottom a img {
  height: 15px;
}

.cuad .pronuntias-cont .p-cont .bottom a#excl {
  margin-left: 10px;
}

.basic-info {
  padding: 0;
}

.about-pronuntia {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #cecece;
  padding: 10px;
  list-style: none;
}

.about-pronuntia li {
  float: left;
  margin-right: 3px;
  font-size: 12px;
  color: #a4a4a4;
}

.about-pronuntia li:after {
  content: '·';
  margin-right: 1px;
}

.about-pronuntia li a {
  color: #a4a4a4;
}

.tops {
  background: #fff;
}


/***********************************************/
.listas .pronuntias-cont .p-cont {
  /*border-radius: 5px;*/
  padding: 0;
  background: #fff;
  border: 1px solid #e9e9e9;
  border-bottom: none; 
}

.listas .row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%
}

.listas .pronuntias-cont .p-cont .col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.listas .pronuntias-cont .p-cont .play {
  border-right: 1px solid #cecece;
  width: 12%;
  padding: 0;
  text-align: center;
}

.listas .pronuntias-cont .p-cont .play a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.listas .pronuntias-cont .p-cont .play a img {
  width: 40px;
  vertical-align: middle;
}

.listas .pronuntias-cont .p-cont .pronuntia-principal .nombre {
  vertical-align: middle;
}

.listas .pronuntias-cont .p-cont .pronuntia-principal .nombre > a {
  color: #676767;

  text-align: left;
  vertical-align: middle;
}

.listas .pronuntias-cont .p-cont .pronuntia-principal .fecha {
  text-align: right;
  vertical-align: middle;
}

.listas .pronuntias-cont .p-cont .pronuntia-principal .fecha h3 {
  margin: 0;
  padding: 0;
  color: #b4b4b4;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.listas .pronuntias-cont .p-cont .pronuntia-principal .fecha img {
  height: 15px;
  display: inline-block;
}

.listas .pronuntias-cont .p-cont .bottom {
  margin-top: 5px;
  padding: 0;
}

.listas .pronuntias-cont .p-cont .bottom a {
  font-size: 12px;
  line-height: 20px;
  color: #b3b3b3;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.listas .pronuntias-cont .p-cont .bottom a img {
  height: 15px;
}

.listas .pronuntias-cont .p-cont .bottom a#excl {
  margin-left: 10px;
}

/***********************************************/