body {
  background: #00a8f0;
}

.nav {
  background: #24b3f0;
  height: 50px;
}

.nav .titulo-pronuntia h1 {
  line-height: 50px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  color: #fff;
}

.nav .blank {
  width: 20%;
  float: left;
  height: 50px;
}

.nav .titulo-pronuntia {
  float: left;
  width: 60%;
}

.nav .ini {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
}

.nav .ini a {
  line-height: 50px;
  color: #fff;
}

.registro-cont {
  margin-top: 30px;
}

.formulario {
  padding: 10px 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  background: #fff;
  border-radius: 5px;
}

.formulario .title {
  color: #a4a4a4;
  text-align: center;
}

.formulario .title h1 {
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  padding: 15px 0;
}

.formulario .form {
  padding: 10px 40px;
}

.formulario .form .form-group {
  padding: 0;
  position: relative;
  margin-bottom: 15px;
}

.formulario .form .form-group .form-control {
  border: none;
  box-shadow: none;
  border-radius: 5px;
  border: 2px solid #ededed;
  padding: 20px;
  padding-left: 30px;
  font-size: 15px;
  color: #00a8f0;
}

.formulario .form .form-group select.form-control {
  padding-left: 25px;
  color: #999cac;
  padding-top: 0;
  padding-bottom: 0;
  height: 43px;
}

.formulario .form .form-group .error {
  background: #1c8bba;
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: -170px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}

.formulario .form .form-group .error:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 10px 7px 0;
  border-color: transparent #1c8bba transparent transparent;
  left: -10px;
  top: 25%;
}

.formulario .form .form-group .dot {
  width: 12px;
  height: 12px;
  background: #00a8f0;
  border-radius: 10px;
  position: absolute;
  top: 17px;
  left: 10px;
}

.formulario .form .form-group .dot.active {
  background: #00ee4a;
  /*background: #ff4444;*/
}

.condiciones {
  text-align: left;
  color: #9a9a9a;
  margin-top: 10px;
  font-size: 14px;
  padding: 0 50px;
}

.condiciones a {
  color: #c4c4c4;
}

.banderas {
  display: none;
  margin-top: -21px;
  position: relative;
  background: #fff;
  padding: 10px 30px 25px 30px;
  list-style: none;
  border: 2px solid #ededed;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banderas li {
  cursor: pointer;
  padding: 10px 0 0 0;
  border: 3px solid #f5f5f5;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
}

.banderas li:hover {
  background: #f9f9f9;
}

.banderas li:hover p {
  background: #f5f5f5;
}

.banderas li a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}

.banderas li a p {
  color: #00a8f0;
  margin: 10px 0 0;
  padding: 10px 15px;
  border-top: 3px solid #f5f5f5;
}

.banderas li a:hover {
  text-decoration: none;
}

.ld {
  display: none;
  position: absolute;
  top: 12px;
  right: 85px;
}

.banderas h1 {
  margin: 7px 0;
  padding: 0;
  font-size: 14px;
  color: #c4c4c4;
  font-weight: bold;
}

.btn-sub {
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  color: #fff;
  padding: 7px 0;
  font-size: 20px;
  background: #00ee4a;
}

.btn-sub:hover {
  color: #fff;
  background: #00ee4a;
}

.btn-sub.disabled {
  color: #fff;
  background: #00ee4a;
}

.bot {
  padding: 0 30px;
}

#pro {
  display: none;
}
