body {
  background: #00a8f0;
}

.nav {
  background: #24b3f0;
  height: 50px;
}

.nav .titulo-pronuntia h1 {
  line-height: 50px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  color: #fff;
}

.nav .blank {
  width: 20%;
  float: left;
  height: 50px;
}

.nav .titulo-pronuntia {
  float: left;
  width: 60%;
}

.nav .ini {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
}

.nav .ini a {
  line-height: 50px;
  color: #fff;
}

.registro-cont {
  padding: 0;
  margin-top: 50px;
}

.registro-cont .imagen a {
  text-align: center;
  color: white;
  display: block;
}

.registro-cont .imagen img {
  margin-bottom: 5px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border: 4px solid #24b3f0;
  border-radius: 100px;*/
}

.formulario {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 25px;
}

.formulario .title {
  background: white;
  color: #00a8f0;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #00a8f0;
}

.formulario .title h1 {
  font-size: 15px;
  padding: 10px;
  margin: 0;
}

.formulario .form {
  padding-left: 30px;
  padding-top: 10px;
  background: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.formulario .form .form-group {
  padding: 0;
  position: relative;
  margin-bottom: 7px;
}

.formulario .form .form-group .form-control {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #ededed;
  padding-left: 30px;
  font-size: 15px;
  color: #00a8f0;
}

.formulario .form .form-group:last-child .form-control {
  border-bottom: none;
}

.formulario .form .form-group .error {
  background: #1c8bba;
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: -170px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}

.formulario .form .form-group .error:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 10px 7px 0;
  border-color: transparent #1c8bba transparent transparent;
  left: -10px;
  top: 25%;
}

.formulario .form .form-group .dot {
  width: 12px;
  height: 12px;
  background: #00a8f0;
  border-radius: 10px;
  position: absolute;
  top: 12px;
  left: 1px;
}

.formulario .form .form-group .dot.active {
  background: #00ee4a;
  /*background: #ff4444;*/
}

.condiciones {
  text-align: left;
  color: white;
  margin-top: 10px;
  font-size: 14px;
}

.condiciones a {
  color: #fff;
}

.banderas {
  display: none;
  margin-top: -16px;
  position: relative;
  background: #ededed;
  padding: 10px 0;
  list-style: none;
}

.banderas:after,
.banderas:before {
  top: 0;
  position: absolute;
  content: '';
  height: 100%;
  width: 30px;
  background: #ededed;
}

.banderas:before {
  left: -30px;
}

.banderas:after {
  right: -15px;
}

.banderas li {
  display: inline-block;
}
