<% var stylesheet = "words" %>
<% var title = "Nueva palabra" %>
<% var js = ["recordmp3", "words"] %>
<% include ../header %>

  <div id="spinner"></div><br>
  <button class="btn btn-default btn-record">record</button>
  <button class="btn btn-default btn-stop disabled">stop</button>

<% include ../footer %>