<% var stylesheet = "registro" %>
<% var title = "Registro" %>
<% var js = "registro" %>
<% include ../header %>

  <nav class="nav">
    <div class="blank">

    </div>
    <div class="titulo-pronuntia">
      <h1>Pronuntia</h1>
    </div>
    <div class="ini">
      <a href="/login">Ya tengo cuenta, iniciar sesión</a>
    </div>
  </nav>

  <% include reg_cont %>

  <% include fot_cont %>

<% include ../footer %>
