<% var stylesheet = "registro" %>
<% var title = "Registro" %>
<% var js = "registro" %>
<% include ../header %>

  <nav class="nav">
    <div class="blank">

    </div>
    <div class="titulo-pronuntia">
      <h1>Pronuntia</h1>
    </div>
    <div class="ini">
      <a href="/login">Ya tengo cuenta, iniciar sesi칩n</a>
    </div>
  </nav>

  <section class="col-sm-12 registro-cont">
    <div class="col-sm-6 col-sm-offset-3 formulario">
      <div class="col-sm-12 title">
       <h1>Registrarse</h1>
      </div>
      <form class="col-sm-12">
        <div class="row">
          <div id="registro-form" class="col-sm-12 form">
            <div class="form-group">
              <label class="sr-only" for="usuario-p"></label>
              <input type="text" class="form-control" id="usuario-p" placeholder="Usuario">
              <div data-for="" class="dot"></div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="c1"></label>
              <input type="password" class="form-control" id="c1" placeholder="Contrase침a">
              <div data-for="" class="dot"></div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="c2"></label>
              <input type="password" class="form-control" id="c2" placeholder="Repetir contrase침a">
              <div data-for="" class="dot"></div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="mail"></label>
              <input type="email" class="form-control" id="mail" placeholder="E-mail">
              <div class="dot"></div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="sexo"></label>
              <input type="text" class="form-control" id="sexo" placeholder="Sexo">
              <div data-for="" class="dot"></div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="materna"></label>
              <select class="form-control" id="materna" name="materna">
                <option value="" disabled selected>Selecciona tu lengua materna</option>
                <% pais.forEach(function(p) { %>
                <option value="<%= p %>"><%= p %></option>
                <% }) %>
              </select>
              <div data-for="" class="dot"></div>
              <div class="ld"><i class="fa fa-circle-o-notch fa-spin"></i></div>
            </div>
            <ul class="banderas">
              
            </ul>
            <div id="pro" class="form-group">
              <label class="sr-only" for="provincia"></label>
              <input type="text" class="form-control" id="provincia" placeholder="Provincia">
              <div data-for="" class="dot"></div>
            </div>
          </div>
          <div class="col-sm-12 condiciones">
            <p>Al registarte, est치s aceptando las <a href="">Condiciones de Servicio</a> y la <a target="_blank" href="">Politica de Privacidad</a> de Pronuntia</p>
          </div>
          <div class="col-sm-12 bot">
            <button type="submit" class="btn btn-default btn-block btn-sub disabled">Registrarse</button>
          </div>
        </div>
      </form>
    </div>
  </section>

<% include ../footer %>
